:root {
  --plyr-color-main: rgba(65, 88, 102, 0.68);
  --plyr-video-background: #000; 
  --plyr-control-icon-size: 20px;	
  --plyr-video-control-background-hover: rgba(65, 88, 102, 0.68); 
  --plyr-video-controls-background: transparent; 	
}




.plyr__video-wrapper, .plyr--video {
    background: #000; 
}



.plyr__controls__item plyr__control	{background: #000;}


.player {
    z-index: 300;
    overflow: hidden;
}

/* Playlist  */

/* scrollbar rules have to be separate, browsers not supporting this syntax will skip them when combined. */

.plyr-playlist-wrapper ul::-webkit-scrollbar {
    width: 6px;
}


.plyr-playlist .pls-playing, .plyr-playlist li a, .plyr-playlist-wrapper .plyr-playlist li a {
    cursor: pointer;
}

.plyr-playlist-wrapper ul::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 1);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.plyr-playlist-wrapper ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #fff;
}

.plyr-playlist-wrapper {
    position: relative;
    overflow: hidden;
}

.plyr-playlist-wrapper .plyr-playlist {
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    margin-top: 0;
    padding: 6px 4px;
    width: 100%;
    box-sizing: border-box;
}

.plyr-playlist-wrapper ul {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.plyr-playlist-wrapper ul li {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.plyr-playlist-wrapper .plyr-playlist li {
    list-style: none;
    padding: 0px;
    margin-bottom: 3px;
   
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing, .plyr-playlist-wrapper .plyr-playlist li:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.09);
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing a {
    color: #fff;
    background: #415866 ;
   
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing {
    background: transparent;
  
}

.plyr-playlist-wrapper .plyr-playlist li a {
    text-decoration: none;
       -webkit-transition:all 0.8s ease;
    -moz-transition:all 0.8s ease-in-out;
    -o-transition:all 0.8s ease-in-out;
    -ms-transition:all 0.8s ease-in-out;
    transition:all 0.8s ease-in-out;
    color: #444;
    display: block;
    padding: 15px 0;
    outline: none;
    padding: 10px;
    padding-left: 20px;
    vertical-align: middle;
    /* padding-bottom: 15px; */
}

.plyr-playlist-wrapper .plyr-playlist li:last-child a {
    border-bottom: 0;
}

.plyr-playlist li a:hover, .plyr-playlist li a:focus, .plyr-playlist li a:active {
    color: #191919;
	color: #fff;
    background: #415866 ;
}

.plyr-miniposter {
    width: auto;
    height: 2em;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 10px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/*******************/

.plyr-type-playlist plyr-playlist a.plyr-playlist-item-remove {
    float: right;
    margin-right: 15px;
    background-color: transparent;
}
